* {
  margin: 0;
}

h1,
h2,
h5 {
  font-family: 'Ubuntu', sans-serif;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
}

.header-container {
  padding: 20px 0;
  text-align: center;
}

.header-container a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.bg {
  background-image: url(../img/01.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1366px;
  margin: 0 auto;
}

/************SECTION*************************************/
.section1-container {
  padding: 60px 30px;
  margin: 0 auto;
}

.s-intro h5 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 95px;
}

.s-intro h1 {
  margin-top: 10px;
  width: 651px;
  font-size: 60px;
  font-weight: 700;
}

.s-intro p {
  margin-top: 30px;
  width: 424px;
  color: #999999;
  font-size: 16px;
  line-height: 25.6px;
}

.s-intro a {
  display: inline-block;
  margin: 32px 0 60px 0;
  padding: 20px 60px;
  background: #FF6008;
  text-decoration: none;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

/*****************ANO*************************/

.bg-pink {
  background: pink;
  max-width: 1366px;
  margin: 0 auto;
}

.section2-container {
  padding: 60px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: space-around;
}

.ano {
  background: white;
  text-align: center;
  padding: 10px 20px;
  width: 370px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.ano h2 {
  color: #E3a5ab;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

/**************LIVRO************/
.livro {
  max-width: 1366px;
  margin: 0 auto;
}

.livro-container {

  padding: 60px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.livro-1 {
  flex: 1;
  padding: 20px 30px;

}

.livro-1 h5 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 28px;
  margin-bottom: 20px;
  width: 395px;
}

.livro-1 li+li {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;

}

.livro-1 li {
  list-style: none;
}

.livro-1 a {
  font-size: 16px;
  font-weight: 700;
  margin: 34px auto 0 0;
  letter-spacing: 1px;
  padding: 16px 40px;
  border-radius: 50px;
  display: inline-block;
  background: #E3A5AB;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.livro-2 {
  flex: 1;
  background: #FF6008;
  color: white;
  width: 455px;
  padding: 20px 30px;
}

.livro-2 p {
  margin-bottom: 20px;
  line-height: 25px;
}

.livro-2 span {
  font-weight: 700;
  line-height: 25px;
  font-size: 16px;
}

.foto {

  display: flex;
  gap: 30px;
  max-width: 1366px;
}

.livro img {
  width: 100%;
}

/************* COMENTARIO **************/
.section-comentario {
  background: #F0CCCF;
  max-width: 1366px;
  margin: 0 auto;
  padding: 60px 0;
}

.comentario-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding: 0 30PX;
  margin: 0 auto;
}

.learn-more {

  padding: 30px;
  background: #FF6008;
}

.learn-more h5 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
  color: white;


}

.learn-more p {
  font-size: 18px;
  line-height: 39px;
  font-weight: 500;
  margin-top: 20px;
  color: white;
}

.learn-more a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 17px 45px;
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
  background: white;
  margin-top: 36px;
}

.comentario {
  padding: 60px 30px;
  background: white;
}

.comentario span {
  font-size: 100px;
  color: #FF6008;

}

.comentario p {
  line-height: 25px;
  font-size: 20px;


}

.comentario h5 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 16px;
  font-weight: 700;

}

/***********FUNCIONARIOS*********/
.funcionarios {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  gap: 30px;
}

.foto-funcionario {
  width: 319px;
  height: 303px;
}

.um {
  background-image: url(../img/04.jpg);
  background-position: center;
  background-size: cover;
}

.dois {
  background-image: url(../img/05.jpg);
  background-position: center;
  background-size: cover;
}

.tres {
  background-image: url(../img/06.jpg);
  background-position: center;
  background-size: cover;
}

.quatro {
  background-image: url(../img/07.jpg);
  background-position: center;
  background-size: cover;
}

.about {
  padding: 30px;
  background: #F2F2F2;
  flex: 2;
}

.about h5 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.about h2 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 19px;

}

.about p {
  font-size: 16px;
  margin-top: 20px;
  width: 355px;
  line-height: 25px;
}

.cinco {
  background-image: url(../img/08.jpg);
  background-position: center;
  background-size: cover;
}

.seis {
  background-image: url(../img/09.jpg);
  background-position: center;
  background-size: cover;
}

/************Clients***********/

.clients {
  max-width: 1366px;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  color: #FF6008;
  margin-bottom: 30px;
}

.marcas {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.clients-img {
  width: 84px;
  height: 97px;

}

.clients-img img {
  max-width: 100%;
}


/*********** CONTATO ***********/

.contato {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url(../img/11.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contato-info {
  text-align: center;
  background: white;
  padding: 60px;
  width: 50%;
  height: 40vh;
}

.contato-info a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 26px;
  background: #FF6008;
  display: inline-block;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
}

.contato-info h2 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;

}

.contato-info p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;

}

.contato-info h5 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
}

.footer {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  background: #121212;
  color: white;
}

.footer p {
  padding: 60px 0;
  font-size: 20px;
}

@media(max-width: 820px) {
  .ano {
    width: 325px;
  }

  .livro-container {
    padding: 60px 30px;
  }

  .comentario-container {
    padding: 0 30px;
  }

  .funcionarios {
    padding: 60px 30px;
  }

  .foto-funcionario {
    width: 365px;
  }

  .about {
    text-align: center;
  }

  .about p {
    text-align: center;
    width: 700px;
  }

  .clients-img {
    width: 56px;
  }


}

/*************IPHONE**************************/
@media(max-width: 440px) {
  .header-container{
    padding: 10px;
  }
.header-container a{
  font-size: 20px;
}
  .bg{
   background-position: 60% 50%;
    background-size:1090px  100vh;
    background-repeat: no-repeat;

  }

  .section1-container{
    display: flex;
    flex-direction: column;
    gap: 50px;

  }
  .s-intro h5{
    width: 340px;
  }
  .s-intro h1{
    width: 340px;
    font-size: 30px;
  }

  .s-intro p{
    width: 211px;
  }

  .s-intro a{
    padding: 20px;
  }

  .livro-1 h5{
    width: 358px;
  }
  .about{
    width: 307px;
  }
  .about p{
    width: 314px;
  }
  .foto-funcionario{
    width: 380px;
  }
  .marcas{
    flex-direction: column;
  }
  .clients-img{
    width: 94px;
  }
  .contato{
    padding: 50px;
  }
  .contato-info{
    padding: 30px 10px;
    width: 100%;
  }
  .contato h2{
    font-size: 24px;
  }
  .contato h5{
    font-size: 12px;
  }
}